<div>
    <div *ngIf="user" class="edit-form">
        <h4>User Details</h4>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" disabled />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName"
                    name="departureDate" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" />
            </div>
        </form>
        <div class="buttons">
            <button class="badge badge-danger mr-2" (click)="deleteUser()">
                Delete
            </button>

            <button type="submit" class="badge badge-success mb-2" (click)="updateUser()">
                Update
            </button>
            <p>{{ message }}</p>
        </div>
    </div>
    <div *ngIf="!user">
        User Not Found.
    </div>
</div>