<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Flight Manager</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a href="/trips" class="nav-link" routerLink="trips">Trips</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn && showAdmin">
                <a href="/flights" class="nav-link" routerLink="flights">Flights</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item" *ngIf="showAdmin">
                <a href="/users" class="nav-link" routerLink="users">Users</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link" routerLink="user">Profile</a>
            </li>
            <li class="nav-item" *ngIf="showAdmin">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>